In [ ]:
import pandas as pd

Criando um Data Frame a partir de um dicionário do python

In [ ]:
# dataframe = pd.DataFrame()
vendas = {'Data': ['15/02/2021', '16/02/2021'],
          'valor': [500, 300],
          'produto': ['feijão','arroz'],
          'qtde': [50, 70],
          }
df_vendas = pd.DataFrame(vendas)

Visualização do data frame
- print
- display

In [ ]:
print(f'{df_vendas}\n')
display(df_vendas)

----- Importando arquivos -----
- número após a vírgula representa qual a planilha do arquivo

In [ ]:
df_dados = pd.read_excel('Dados_cartilha.xlsx', 0)
display(df_dados)

df_diferenca = pd.read_excel('Dados_cartilha.xlsx', 1)
df_fator = pd.read_excel('Dados_cartilha.xlsx', 2)

---- Visualização de dados simples e úteis ---- 

- head (mostra 5 primeiras linhas) / .head(n) / n = número de linhas que deseja
- shape / mostra a quantidade de linhas e colunas
- describe / estatístico. Pega todas as colunas numéricas e descreve informações / mean: média / std: desvio padrão / min / max /

In [ ]:
display(df_dados.head())
print(df_dados.shape)
display(df_dados.describe())

---- Visualizar colunas ----

In [165]:
colunas = df_dados.columns
print(colunas)

Index(['Galpões', 'Tipo de imovel', 'Dez anterior', 'Jan', 'Fev', 'Mar', 'Abr',
       'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
      dtype='object')

---- Pegar 1 ou mais colunas (e os pd.Series) ----

In [168]:
galpões = df_dados['Galpões']
print(galpões)

df_dois_meses = df_dados[['Mai', 'Jun']]
display(df_dois_meses.head())

df_dados_industriais = df_dados.loc[df_dados['Tipo de imovel'] == 'Industrial', ['Galpões', 'Tipo de imovel', 'Jan', 'Fev', 'Mar']]
display(df_dados_industriais.head())

0                 Galpão 1 - Abaixo de Zero - A79B53393
1                          Galpão 2 - Masp - A99L488883
2                                 Galpão 3 - A99L488885
3                 Galpão 4 - Metal Printing  A99L488887
4          Galpão - Marcenaria/Serralheria - A06L081235
5                  Galpão 5 - Reservatório - A031247101
6     Galpão 5 - Piso Superior e WC térreo - A06L135363
7                   Galpão 6 - Piso Térreo - A06L081233
8            Galpão 6 - Piso Intermediário - A06L135275
9                 Galpão 6 - Piso Superior - A06L135367
10                Galpão 7 - Piso Inferior - A09S372865
11                Galpão 7 - Piso Superior - A09S372869
12    Galpão 8 - Nek Packing - Piso Inferior - A09S3...
13                 Galpão 8 - Piso Superior - A79B54592
14                                Galpão 9 - A21H515626
15               Galpão 10 - Metal Printing  A13L080158
16    Galpão 11 - Metal Printing - R. de Incêndio A1...
17                                           Galpão 13
18                            Casa Caseiro - A06L081234
19                            Depósito G12 - A03L247101
20              Chácara Colina (Sr° Mario) - A99L488888
21                     Chácara Colina Fundos - 79B54592
22                        Chácara São José - A01L097304
23                         Chácara Manacás - A02L273774
24        Sala de Confraternização Manacás - A03L247100
25                                Lava-Car - A02L273769
26                                  Poço 1 - A08L186679
27                                  Poço 2 - B12S016596
28                                  Poço 3 - AO9L069981
Name: Galpões, dtype: object

        Mai       Jun
0  25518.50  25587.10
1  10495.76  10543.63
2   9442.33   9442.33
3  10528.49  10571.48
4   1712.07   1715.39

,Galpões,Tipo de imovel,Jan,Fev,Mar
0,Galpão 1 - Abaixo de Zero - A79B53393,Industrial,25247.40,25314.90,25389.70
1,Galpão 2 - Masp - A99L488883,Industrial,10327.12,10364.16,10408.98
2,Galpão 3 - A99L488885,Industrial,9442.32,9442.33,9442.33
3,Galpão 4 - Metal Printing A99L488887,Industrial,10327.17,10374.33,10415.94
5,Galpão 5 - Reservatório - A031247101,Industrial,4633.29,4633.30,4648.79

---- Pegar 1 célula ----

In [ ]:
celula = df_dados.loc[6, 'Galpões']
display(celula)

---- Fórmulas do excel ----

In [ ]:
df_diferenca['Jan'] = df_dados['Jan'] - df_dados['Dez 2023']
display(df_diferenca.head())


df_diferenca.loc[df_diferenca['Jan'] < df_fator.loc[0,'VOLUME MAX ÁGUA m3'], 'Fev'] = df_fator.loc[0,'FATOR INDUSTRIAL']
display(df_diferenca.head())

---- Modificar 1 ou mais células ----

In [ ]:
# Modificando uma célula em específico
df_dados.loc[0, 'Dez'] = 123456
display(df_dados.head())

# Modificando mais de uma célula a partir de condições
df_fator.loc[df_fator['TIPO DE FATOR'] == 'Multiplicador','FATOR INDUSTRIAL'] = 1000
display(df_fator.head())

Por fim, coloque 

df_dados.to_excel('Nome_do_novo_arquivo.xlsx', index=False)

para criar um novo arquivo