In [3]:
import pandas as pd

# Criando um Data Frame a partir de um dicionário do python

In [ ]:
# dataframe = pd.DataFrame()
vendas = {'Data': ['15/02/2021', '16/02/2021'],
          'valor': [500, 300],
          'produto': ['feijão','arroz'],
          'qtde': [50, 70],
          }
df_vendas = pd.DataFrame(vendas)

# Visualização do data frame
- print
- display

In [2]:
print(f'{df_vendas}\n')
display(df_vendas)

NameError: name 'df_vendas' is not defined

# ----- Importando arquivos -----
- número após a vírgula representa qual a planilha do arquivo

In [4]:
df_dados = pd.read_excel('Dados_cartilha.xlsx', 0)
display(df_dados)

df_diferenca = pd.read_excel('Dados_cartilha.xlsx', 1)
df_fator = pd.read_excel('Dados_cartilha.xlsx', 2)

,Galpões,Complemento,Registro,Empresa,Tipo de imóvel,Dez anterior,Jan,Fev,Mar,Abr,Mai,Jun,Jul,Ago,Set,Out,Nov,Dez
0,Galpão 1,NaN,A79B53393,Abaixo de Zero,Industrial,25141.60,25247.40,25314.90,25389.70,25443.50,25518.50,25587.10,NaN,NaN,NaN,NaN,NaN,NaN
1,Galpão 2,NaN,A99L488883,Masp,Industrial,10289.21,10327.12,10364.16,10408.98,10452.05,10495.76,10543.63,NaN,NaN,NaN,NaN,NaN,NaN
2,Galpão 3,NaN,A99L488885,NaN,Industrial,9442.32,9442.32,9442.33,9442.33,9442.33,9442.33,9442.33,NaN,NaN,NaN,NaN,NaN,NaN
3,Galpão 4,NaN,A99L488887,Metal Printing,Industrial,10284.81,10327.17,10374.33,10415.94,10473.54,10528.49,10571.48,NaN,NaN,NaN,NaN,NaN,NaN
4,Marcenaria/Serralheria,NaN,A06L081235,NaN,Industrial,1698.38,1700.74,1703.70,1706.42,1708.82,1712.07,1715.39,NaN,NaN,NaN,NaN,NaN,NaN
5,Galpão 5,Reservatório,A031247101,NaN,Industrial,4633.29,4633.29,4633.30,4648.79,4648.80,4648.80,4653.80,NaN,NaN,NaN,NaN,NaN,NaN
6,Galpão 5,Piso Superior e WC térreo,A06L135363,NaN,Industrial,197.37,198.10,200.21,200.96,202.70,204.05,204.72,NaN,NaN,NaN,NaN,NaN,NaN
7,Galpão 6,Piso Térreo,A06L081233,NaN,Industrial,385.20,385.21,385.21,385.22,385.23,385.23,385.23,NaN,NaN,NaN,NaN,NaN,NaN
8,Galpão 6,Piso Intermediário,A06L135275,NaN,Industrial,4138.94,4138.99,4139.00,4139.13,4139.14,4139.23,4139.25,NaN,NaN,NaN,NaN,NaN,NaN
9,Galpão 6,Piso Superior,A06L135367,NaN,Industrial,30.52,30.52,30.52,30.52,30.52,30.52,30.52,NaN,NaN,NaN,NaN,NaN,NaN
10,Galpão 7,Piso Inferior,A09S372865,NaN,Industrial,3102.31,3102.31,3104.46,3104.48,3106.70,3107.35,3108.54,NaN,NaN,NaN,NaN,NaN,NaN
11,Galpão 7,Piso Superior,A09S372869,NaN,Industrial,33.85,33.85,34.27,34.41,34.41,34.51,34.51,NaN,NaN,NaN,NaN,NaN,NaN
12,Galpão 8,Piso Inferior,A09S372870,Nek Packing,Industrial,369.93,373.52,377.10,381.87,385.85,390.70,394.71,NaN,NaN,NaN,NaN,NaN,NaN
13,Galpão 8,Piso Superior,A79B54592,NaN,Industrial,788.80,790.10,790.10,791.10,791.10,791.10,791.60,NaN,NaN,NaN,NaN,NaN,NaN
14,Galpão 9,NaN,A21H515626,NaN,Industrial,1.68,1.68,1.68,1.68,1.68,1.68,1.68,NaN,NaN,NaN,NaN,NaN,NaN
15,Galpão 10,NaN,A13L080158,Metal Printing,Industrial,1407.75,1432.40,1459.14,1476.36,1497.26,1517.41,1542.71,NaN,NaN,NaN,NaN,NaN,NaN
16,Galpão 11,R. de Incêncio,A13L080153,Metal Printing,Industrial,124.60,124.94,124.99,125.10,125.31,127.03,130.24,NaN,NaN,NaN,NaN,NaN,NaN
17,Galpão 13,NaN,NaN,NaN,Industrial,16.31,16.31,16.31,17.38,21.55,47.65,57.07,NaN,NaN,NaN,NaN,NaN,NaN
18,Casa Caseiro,NaN,A06L081234,NaN,Residencial,1377.77,1385.93,1398.55,1391.14,1393.12,1400.92,1405.11,NaN,NaN,NaN,NaN,NaN,NaN
19,Depósito G12,NaN,A03L247101,NaN,Residencial,649.67,649.67,649.67,649.67,649.67,649.67,649.67,NaN,NaN,NaN,NaN,NaN,NaN
20,Chácara Colina,NaN,A99L488888,NaN,Residencial,4625.64,4632.36,4650.40,4661.29,4672.45,4682.45,4690.90,NaN,NaN,NaN,NaN,NaN,NaN
21,Chácara Colina,Fundos,79B54592,NaN,Residencial,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Chácara São José,NaN,A01L097304,NaN,Residencial,4370.43,4371.19,4384.39,4411.19,4428.71,4448.74,4464.78,NaN,NaN,NaN,NaN,NaN,NaN
23,Chácara Manacás,NaN,A02L273774,NaN,Residencial,5560.31,5603.77,5651.15,5669.39,5678.47,5692.42,5696.88,NaN,NaN,NaN,NaN,NaN,NaN
24,Chácara Manacás,Sala de Confraternização,A03L247100,NaN,Residencial,846.46,847.25,847.32,848.11,848.16,848.66,848.67,NaN,NaN,NaN,NaN,NaN,NaN
25,Lava-Car,NaN,A02L273769,NaN,Residencial,1149.41,1149.41,1149.41,1149.41,1149.47,1149.47,1149.47,NaN,NaN,NaN,NaN,NaN,NaN
26,Poço 1,NaN,A08L186679,NaN,Residencial,9974.73,10327.29,10638.01,10916.24,11214.91,11538.53,11765.09,NaN,NaN,NaN,NaN,NaN,NaN
27,Poço 2,NaN,B12S016596,NaN,Residencial,1267.63,1298.47,1328.02,1365.01,1370.01,1406.79,1491.85,NaN,NaN,NaN,NaN,NaN,NaN
28,Poço 3,NaN,AO9L069981,NaN,Residencial,2887.08,2887.08,2887.08,2887.08,2887.08,2887.08,2887.08,NaN,NaN,NaN,NaN,NaN,NaN

# ---- Visualização de dados simples e úteis ---- 

- head (mostra 5 primeiras linhas) / .head(n) / n = número de linhas que deseja
- shape / mostra a quantidade de linhas e colunas
- describe / estatístico. Pega todas as colunas numéricas e descreve informações / mean: média / std: desvio padrão / min / max /

In [ ]:
display(df_dados.head())
print(df_dados.shape)
display(df_dados.describe())

# ---- Visualizar cabeçalho ----

In [4]:
colunas = df_dados.columns
print(colunas)

Index(['Galpões', 'Complemento', 'Registro', 'Empresa', 'Tipo de imovel',
       'Dez anterior', 'Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago',
       'Set', 'Out', 'Nov', 'Dez'],
      dtype='object')

# ---- Pegar 1 ou mais colunas (e os pd.Series) ----

In [ ]:
galpões = df_dados['Galpões']
print(galpões)

df_dois_meses = df_dados[['Mai', 'Jun']]
display(df_dois_meses.head())

df_dados_industriais = df_dados.loc[df_dados['Tipo de imóvel'] == 'Industrial', ['Galpões', 'Tipo de imóvel', 'Jan', 'Fev', 'Mar']]
display(df_dados_industriais.head())

# ---- Pegar 1 célula ----

In [ ]:
celula = df_dados.loc[6, 'Galpões']
display(celula)

# ---- Fórmulas do excel ----

In [ ]:
df_diferenca['Jan'] = df_dados['Jan'] - df_dados['Dez 2023']
display(df_diferenca.head())


df_diferenca.loc[df_diferenca['Jan'] < df_fator.loc[0,'Volume max de água m3'], 'Fev'] = df_fator.loc[0,'Fator Industrial']
display(df_diferenca.head())

# ---- Modificar 1 ou mais células ----

In [ ]:
# Modificando uma célula em específico
df_dados.loc[0, 'Dez'] = 123456
display(df_dados.head())

# Modificando mais de uma célula a partir de condições
df_fator.loc[df_fator['Tipo de fator'] == 'Multiplicador','Fator Industrial'] = 1000
display(df_fator.head())

Por fim, coloque 

df.to_excel('Nome_do_novo_arquivo.xlsx', index=False)

para criar um novo arquivo

# ---- Adicionar uma coluna ----

In [ ]:
df_fator['Nova coluna'] = 0
display(df_fator)

df_fator.loc[:, 'Mais uma'] = 0

# ---- Adicionar uma linha ----
concat([... , ...])

.reset_index(drop=True)
reinicia o index

In [ ]:
df_universal = pd.concat([df_diferenca, df_dados]).reset_index(drop=True)

display(df_universal)

# ---- Excluir uma linha ----
df.drop(linha, axis=0)

In [ ]:
df_fator = df_fator.drop(0, axis=0)
display(df_fator)

# ---- Excluir uma coluna ---- 
df.drop(coluna, axis=1)

In [ ]:
df_fator = df_fator.drop('Fator Residencial', axis=1)
display(df_fator)

# Deletar linhas e colunas vazias

In [ ]:
# Deletar linhas e colunas completamente vazias / altere o axis= ao seu gosto
df_universal = df_universal.dropna(how='all', axis=1)
display(df_universal)

# Deletar linhas que possuem pelo menos uma célula NaN
df_universal = df_universal.dropna()
display(df_universal)

# Preencher valores vazios
# Preenche as células vazias com a média .mean()

df_fator['Volume max de água m3'] = df_fator['Volume max de água m3'].fillna(df_fator['Volume max de água m3'].mean())
display(df_fator)

# Preenchimento automatico com o valor de cima
df_diferenca.loc[1] = df_diferenca.loc[1].fillna(2)

df_diferenca = df_diferenca.ffill()
display(df_diferenca)

# ---- Conta quantas vezes aparece cada item de uma coluna ----
- .value_counts()

In [6]:
industriais_vs_residenciais = df_dados['Tipo de imóvel'].value_counts()
print(industriais_vs_residenciais.index)

Index(['Industrial', 'Residencial'], dtype='object', name='Tipo de imóvel')

# ---- Agrupamentos e funções com linhas agrupadas ----
- .groupby('Coluna')

o complemento do groupby será executado nas outras colunas escolhidas

In [115]:
# Soma dos registros de Janeiro organizado por tipo de imovel
somas_registros_Jan = df_dados[['Tipo de imóvel', 'Jan']].groupby('Tipo de imóvel').sum()
display(somas_registros_Jan)

                     Jan
Tipo de imovel
Industrial      72305.97
Residencial     33152.42

# ---- Mesclagem de dados ---- 
df = df.merge(Outro df)

Mescla de maneira inteligente dois Data Frames