In [1]:
import pandas as pd

# Criando um Data Frame a partir de um dicionário do python

In [2]:
# dataframe = pd.DataFrame()
vendas = {'Data': ['15/02/2021', '16/02/2021'],
          'valor': [500, 300],
          'produto': ['feijão','arroz'],
          'qtde': [50, 70],
          }
df_vendas = pd.DataFrame(vendas)

# Visualização do data frame
- print
- display

In [3]:
print(f'{df_vendas}\n')
display(df_vendas)

         Data  valor produto  qtde
0  15/02/2021    500  feijão    50
1  16/02/2021    300   arroz    70

         Data  valor produto  qtde
0  15/02/2021    500  feijão    50
1  16/02/2021    300   arroz    70

# ----- Importando arquivos -----
- número após a vírgula representa qual a planilha do arquivo

In [4]:
df_dados = pd.read_excel('Dados_cartilha.xlsx', 0)
display(df_dados)

df_diferenca = pd.read_excel('Dados_cartilha.xlsx', 1)
df_fator = pd.read_excel('Dados_cartilha.xlsx', 2)

,Galpões,Complemento,Registro,Empresa,Tipo de imóvel,Dez anterior,Jan,Fev,Mar,Abr,Mai,Jun,Jul,Ago,Set,Out,Nov,Dez
0,Galpão 1,NaN,A79B53393,Abaixo de Zero,Industrial,25141.60,25247.40,25314.90,25389.70,25443.50,25518.50,25587.10,NaN,NaN,NaN,NaN,NaN,NaN
1,Galpão 2,NaN,A99L488883,Masp,Industrial,10289.21,10327.12,10364.16,10408.98,10452.05,10495.76,10543.63,NaN,NaN,NaN,NaN,NaN,NaN
2,Galpão 3,NaN,A99L488885,NaN,Industrial,9442.32,9442.32,9442.33,9442.33,9442.33,9442.33,9442.33,NaN,NaN,NaN,NaN,NaN,NaN
3,Galpão 4,NaN,A99L488887,Metal Printing,Industrial,10284.81,10327.17,10374.33,10415.94,10473.54,10528.49,10571.48,NaN,NaN,NaN,NaN,NaN,NaN
4,Marcenaria/Serralheria,NaN,A06L081235,NaN,Industrial,1698.38,1700.74,1703.70,1706.42,1708.82,1712.07,1715.39,NaN,NaN,NaN,NaN,NaN,NaN
5,Galpão 5,Reservatório,A031247101,NaN,Industrial,4633.29,4633.29,4633.30,4648.79,4648.80,4648.80,4653.80,NaN,NaN,NaN,NaN,NaN,NaN
6,Galpão 5,Piso Superior e WC térreo,A06L135363,NaN,Industrial,197.37,198.10,200.21,200.96,202.70,204.05,204.72,NaN,NaN,NaN,NaN,NaN,NaN
7,Galpão 6,Piso Térreo,A06L081233,NaN,Industrial,385.20,385.21,385.21,385.22,385.23,385.23,385.23,NaN,NaN,NaN,NaN,NaN,NaN
8,Galpão 6,Piso Intermediário,A06L135275,NaN,Industrial,4138.94,4138.99,4139.00,4139.13,4139.14,4139.23,4139.25,NaN,NaN,NaN,NaN,NaN,NaN
9,Galpão 6,Piso Superior,A06L135367,NaN,Industrial,30.52,30.52,30.52,30.52,30.52,30.52,30.52,NaN,NaN,NaN,NaN,NaN,NaN
10,Galpão 7,Piso Inferior,A09S372865,NaN,Industrial,3102.31,3102.31,3104.46,3104.48,3106.70,3107.35,3108.54,NaN,NaN,NaN,NaN,NaN,NaN
11,Galpão 7,Piso Superior,A09S372869,NaN,Industrial,33.85,33.85,34.27,34.41,34.41,34.51,34.51,NaN,NaN,NaN,NaN,NaN,NaN
12,Galpão 8,Piso Inferior,A09S372870,Nek Packing,Industrial,369.93,373.52,377.10,381.87,385.85,390.70,394.71,NaN,NaN,NaN,NaN,NaN,NaN
13,Galpão 8,Piso Superior,A79B54592,NaN,Industrial,788.80,790.10,790.10,791.10,791.10,791.10,791.60,NaN,NaN,NaN,NaN,NaN,NaN
14,Galpão 9,NaN,A21H515626,NaN,Industrial,1.68,1.68,1.68,1.68,1.68,1.68,1.68,NaN,NaN,NaN,NaN,NaN,NaN
15,Galpão 10,NaN,A13L080158,Metal Printing,Industrial,1407.75,1432.40,1459.14,1476.36,1497.26,1517.41,1542.71,NaN,NaN,NaN,NaN,NaN,NaN
16,Galpão 11,R. de Incêncio,A13L080153,Metal Printing,Industrial,124.60,124.94,124.99,125.10,125.31,127.03,130.24,NaN,NaN,NaN,NaN,NaN,NaN
17,Galpão 13,NaN,NaN,NaN,Industrial,16.31,16.31,16.31,17.38,21.55,47.65,57.07,NaN,NaN,NaN,NaN,NaN,NaN
18,Casa Caseiro,NaN,A06L081234,NaN,Residencial,1377.77,1385.93,1398.55,1391.14,1393.12,1400.92,1405.11,NaN,NaN,NaN,NaN,NaN,NaN
19,Depósito G12,NaN,A03L247101,NaN,Residencial,649.67,649.67,649.67,649.67,649.67,649.67,649.67,NaN,NaN,NaN,NaN,NaN,NaN
20,Chácara Colina,NaN,A99L488888,NaN,Residencial,4625.64,4632.36,4650.40,4661.29,4672.45,4682.45,4690.90,NaN,NaN,NaN,NaN,NaN,NaN
21,Chácara Colina,Fundos,79B54592,NaN,Residencial,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Chácara São José,NaN,A01L097304,NaN,Residencial,4370.43,4371.19,4384.39,4411.19,4428.71,4448.74,4464.78,NaN,NaN,NaN,NaN,NaN,NaN
23,Chácara Manacás,NaN,A02L273774,NaN,Residencial,5560.31,5603.77,5651.15,5669.39,5678.47,5692.42,5696.88,NaN,NaN,NaN,NaN,NaN,NaN
24,Chácara Manacás,Sala de Confraternização,A03L247100,NaN,Residencial,846.46,847.25,847.32,848.11,848.16,848.66,848.67,NaN,NaN,NaN,NaN,NaN,NaN
25,Lava-Car,NaN,A02L273769,NaN,Residencial,1149.41,1149.41,1149.41,1149.41,1149.47,1149.47,1149.47,NaN,NaN,NaN,NaN,NaN,NaN
26,Poço 1,NaN,A08L186679,NaN,Residencial,9974.73,10327.29,10638.01,10916.24,11214.91,11538.53,11765.09,NaN,NaN,NaN,NaN,NaN,NaN
27,Poço 2,NaN,B12S016596,NaN,Residencial,1267.63,1298.47,1328.02,1365.01,1370.01,1406.79,1491.85,NaN,NaN,NaN,NaN,NaN,NaN
28,Poço 3,NaN,AO9L069981,NaN,Residencial,2887.08,2887.08,2887.08,2887.08,2887.08,2887.08,2887.08,NaN,NaN,NaN,NaN,NaN,NaN

# ---- Visualização de dados simples e úteis ---- 

- head (mostra 5 primeiras linhas) / .head(n) / n = número de linhas que deseja
- shape / mostra a quantidade de linhas e colunas
- describe / estatístico. Pega todas as colunas numéricas e descreve informações / mean: média / std: desvio padrão / min / max /

In [5]:
display(df_dados.head())
print(df_dados.shape)
display(df_dados.describe())

,Galpões,Complemento,Registro,Empresa,Tipo de imóvel,Dez anterior,Jan,Fev,Mar,Abr,Mai,Jun,Jul,Ago,Set,Out,Nov,Dez
0,Galpão 1,NaN,A79B53393,Abaixo de Zero,Industrial,25141.60,25247.40,25314.90,25389.70,25443.50,25518.50,25587.10,NaN,NaN,NaN,NaN,NaN,NaN
1,Galpão 2,NaN,A99L488883,Masp,Industrial,10289.21,10327.12,10364.16,10408.98,10452.05,10495.76,10543.63,NaN,NaN,NaN,NaN,NaN,NaN
2,Galpão 3,NaN,A99L488885,NaN,Industrial,9442.32,9442.32,9442.33,9442.33,9442.33,9442.33,9442.33,NaN,NaN,NaN,NaN,NaN,NaN
3,Galpão 4,NaN,A99L488887,Metal Printing,Industrial,10284.81,10327.17,10374.33,10415.94,10473.54,10528.49,10571.48,NaN,NaN,NaN,NaN,NaN,NaN
4,Marcenaria/Serralheria,NaN,A06L081235,NaN,Industrial,1698.38,1700.74,1703.70,1706.42,1708.82,1712.07,1715.39,NaN,NaN,NaN,NaN,NaN,NaN

(29, 18)

,Dez anterior,Jan,Fev,Mar,Abr,Mai,Jun,Jul,Ago,Set,Out,Nov,Dez
count,28.000000,28.000000,28.000000,28.000000,28.000000,28.000000,28.000000,0.0,0.0,0.0,0.0,0.0,0.0
mean,3742.714286,3766.371071,3788.561071,3808.889286,3827.947857,3850.969286,3870.857500,NaN,NaN,NaN,NaN,NaN,NaN
std,5374.644648,5408.682815,5436.037956,5463.547561,5490.059756,5520.144473,5543.844689,NaN,NaN,NaN,NaN,NaN,NaN
min,1.680000,1.680000,1.680000,1.680000,1.680000,1.680000,1.680000,NaN,NaN,NaN,NaN,NaN,NaN
25%,381.382500,382.287500,383.182500,384.382500,385.695000,389.332500,392.340000,NaN,NaN,NaN,NaN,NaN,NaN
50%,1392.760000,1409.165000,1428.845000,1433.750000,1445.190000,1462.100000,1517.280000,NaN,NaN,NaN,NaN,NaN,NaN
75%,4627.552500,4632.592500,4637.575000,4651.915000,4654.712500,4657.212500,4663.075000,NaN,NaN,NaN,NaN,NaN,NaN
max,25141.600000,25247.400000,25314.900000,25389.700000,25443.500000,25518.500000,25587.100000,NaN,NaN,NaN,NaN,NaN,NaN

# ---- Visualizar cabeçalho ----

In [6]:
colunas = df_dados.columns
print(colunas)

Index(['Galpões', 'Complemento', 'Registro', 'Empresa', 'Tipo de imóvel',
       'Dez anterior', 'Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago',
       'Set', 'Out', 'Nov', 'Dez'],
      dtype='object')

# ---- Pegar 1 ou mais colunas (e os pd.Series) ----

In [7]:
galpões = df_dados['Galpões']
print(galpões)

df_dois_meses = df_dados[['Mai', 'Jun']]
display(df_dois_meses.head())

df_dados_industriais = df_dados.loc[df_dados['Tipo de imóvel'] == 'Industrial', ['Galpões', 'Tipo de imóvel', 'Jan', 'Fev', 'Mar']]
display(df_dados_industriais.head())

0                   Galpão 1
1                   Galpão 2
2                   Galpão 3
3                   Galpão 4
4     Marcenaria/Serralheria
5                   Galpão 5
6                   Galpão 5
7                   Galpão 6
8                   Galpão 6
9                   Galpão 6
10                  Galpão 7
11                  Galpão 7
12                  Galpão 8
13                  Galpão 8
14                  Galpão 9
15                 Galpão 10
16                 Galpão 11
17                Galpão 13
18              Casa Caseiro
19              Depósito G12
20            Chácara Colina
21            Chácara Colina
22          Chácara São José
23           Chácara Manacás
24           Chácara Manacás
25                  Lava-Car
26                    Poço 1
27                    Poço 2
28                    Poço 3
Name: Galpões, dtype: object

        Mai       Jun
0  25518.50  25587.10
1  10495.76  10543.63
2   9442.33   9442.33
3  10528.49  10571.48
4   1712.07   1715.39

                  Galpões Tipo de imóvel       Jan       Fev       Mar
0                Galpão 1     Industrial  25247.40  25314.90  25389.70
1                Galpão 2     Industrial  10327.12  10364.16  10408.98
2                Galpão 3     Industrial   9442.32   9442.33   9442.33
3                Galpão 4     Industrial  10327.17  10374.33  10415.94
4  Marcenaria/Serralheria     Industrial   1700.74   1703.70   1706.42

# ---- Pegar 1 célula ----

In [8]:
celula = df_dados.loc[6, 'Galpões']
display(celula)

'Galpão 5'

# ---- Fórmulas do excel ----

In [9]:
df_diferenca['Jan'] = df_dados['Jan'] - df_dados['Dez anterior']
display(df_diferenca.head())


df_diferenca.loc[df_diferenca['Jan'] < df_fator.loc[0,'Volume max de água m3'], 'Fev'] = df_fator.loc[0,'Fator Industrial']
display(df_diferenca.head())

,Galpões,Complemento,Código do registro,Empresa,Tipo de imóvel,Jan,Fev,Mar,Abr,Mai,Jun,Jul,Ago,Set,Out,Nov,Dez
0,Galpão 1,NaN,A79B53393,Abaixo de Zero,Industrial,105.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Galpão 2,NaN,A99L488883,Masp,Industrial,37.91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Galpão 3,NaN,A99L488885,NaN,Industrial,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Galpão 4,NaN,A99L488887,Metal Printing,Industrial,42.36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Marcenaria/Serralheria,NaN,A06L081235,NaN,Industrial,2.36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,Galpões,Complemento,Código do registro,Empresa,Tipo de imóvel,Jan,Fev,Mar,Abr,Mai,Jun,Jul,Ago,Set,Out,Nov,Dez
0,Galpão 1,NaN,A79B53393,Abaixo de Zero,Industrial,105.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Galpão 2,NaN,A99L488883,Masp,Industrial,37.91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Galpão 3,NaN,A99L488885,NaN,Industrial,0.00,51.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Galpão 4,NaN,A99L488887,Metal Printing,Industrial,42.36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Marcenaria/Serralheria,NaN,A06L081235,NaN,Industrial,2.36,51.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# ---- Modificar 1 ou mais células ----

In [10]:
# Modificando uma célula em específico
df_dados.loc[0, 'Dez'] = 123456
display(df_dados.head())

# Modificando mais de uma célula a partir de condições
df_fator.loc[df_fator['Tipo de fator'] == 'Multiplicador','Fator Industrial'] = 1000
display(df_fator.head())

,Galpões,Complemento,Registro,Empresa,Tipo de imóvel,Dez anterior,Jan,Fev,Mar,Abr,Mai,Jun,Jul,Ago,Set,Out,Nov,Dez
0,Galpão 1,NaN,A79B53393,Abaixo de Zero,Industrial,25141.60,25247.40,25314.90,25389.70,25443.50,25518.50,25587.10,NaN,NaN,NaN,NaN,NaN,123456.0
1,Galpão 2,NaN,A99L488883,Masp,Industrial,10289.21,10327.12,10364.16,10408.98,10452.05,10495.76,10543.63,NaN,NaN,NaN,NaN,NaN,NaN
2,Galpão 3,NaN,A99L488885,NaN,Industrial,9442.32,9442.32,9442.33,9442.33,9442.33,9442.33,9442.33,NaN,NaN,NaN,NaN,NaN,NaN
3,Galpão 4,NaN,A99L488887,Metal Printing,Industrial,10284.81,10327.17,10374.33,10415.94,10473.54,10528.49,10571.48,NaN,NaN,NaN,NaN,NaN,NaN
4,Marcenaria/Serralheria,NaN,A06L081235,NaN,Industrial,1698.38,1700.74,1703.70,1706.42,1708.82,1712.07,1715.39,NaN,NaN,NaN,NaN,NaN,NaN

,Volume min de água m3,Volume max de água m3,Tipo de fator,Fator Industrial,Fator Residencial
0,0,10.0,Fixo,51.04,25.42
1,10,20.0,Multiplicador,1000.00,3.54
2,20,50.0,Multiplicador,1000.00,5.45
3,50,NaN,Multiplicador,1000.00,6.51

Por fim, coloque 

df.to_excel('Nome_do_novo_arquivo.xlsx', index=False)

para criar um novo arquivo

# ---- Adicionar uma coluna ----

In [11]:
df_fator['Nova coluna'] = 0
display(df_fator)

df_fator.loc[:, 'Mais uma'] = 0

,Volume min de água m3,Volume max de água m3,Tipo de fator,Fator Industrial,Fator Residencial,Nova coluna
0,0,10.0,Fixo,51.04,25.42,0
1,10,20.0,Multiplicador,1000.00,3.54,0
2,20,50.0,Multiplicador,1000.00,5.45,0
3,50,NaN,Multiplicador,1000.00,6.51,0

# ---- Adicionar uma linha ----
concat([... , ...])

.reset_index(drop=True)
reinicia o index

In [12]:
df_universal = pd.concat([df_diferenca, df_dados]).reset_index(drop=True)

display(df_universal)

,Galpões,Complemento,Código do registro,Empresa,Tipo de imóvel,Jan,Fev,Mar,Abr,Mai,Jun,Jul,Ago,Set,Out,Nov,Dez,Registro,Dez anterior
0,Galpão 1,NaN,A79B53393,Abaixo de Zero,Industrial,105.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Galpão 2,NaN,A99L488883,Masp,Industrial,37.91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Galpão 3,NaN,A99L488885,NaN,Industrial,0.00,51.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Galpão 4,NaN,A99L488887,Metal Printing,Industrial,42.36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Marcenaria/Serralheria,NaN,A06L081235,NaN,Industrial,2.36,51.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Galpão 5,Reservatório,A031247101,NaN,Industrial,0.00,51.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Galpão 5,Piso Superior e WC térreo,A06L135363,NaN,Industrial,0.73,51.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Galpão 6,Piso Térreo,A06L081233,NaN,Industrial,0.01,51.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Galpão 6,Piso Intermediário,A06L135275,NaN,Industrial,0.05,51.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Galpão 6,Piso Superior,A06L135367,NaN,Industrial,0.00,51.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Galpão 7,Piso Inferior,A09S372865,NaN,Industrial,0.00,51.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Galpão 7,Piso Superior,A09S372869,NaN,Industrial,0.00,51.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Galpão 8,Piso Inferior,A09S372870,Nek Packing,Industrial,3.59,51.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Galpão 8,Piso Superior,A79B54592,NaN,Industrial,1.30,51.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Galpão 9,NaN,A21H515626,NaN,Industrial,0.00,51.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Galpão 10,NaN,A13L080158,Metal Printing,Industrial,24.65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Galpão 11,R. de Incêncio,A13L080153,Metal Printing,Industrial,0.34,51.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Galpão 13,NaN,NaN,NaN,Industrial,0.00,51.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Casa Caseiro,NaN,A06L081234,NaN,Residencial,8.16,51.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Depósito G12,NaN,A03L247101,NaN,Residencial,0.00,51.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Chácara Colina,NaN,A99L488888,NaN,Residencial,6.72,51.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Chácara Colina,Fundos,79B54592,NaN,Residencial,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Chácara São José,NaN,A01L097304,NaN,Residencial,0.76,51.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Chácara Manacás,NaN,A02L273774,NaN,Residencial,43.46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Chácara Manacás,Sala de Confraternização,A03L247100,NaN,Residencial,0.79,51.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Lava-Car,NaN,A02L273769,NaN,Residencial,0.00,51.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Poço 1,NaN,A08L186679,NaN,Residencial,352.56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Poço 2,NaN,B12S016596,NaN,Residencial,30.84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Poço 3,NaN,AO9L069981,NaN,Residencial,0.00,51.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Galpão 1,NaN,NaN,Abaixo de Zero,Industrial,25247.40,25314.90,25389.70,25443.50,25518.50,25587.10,NaN,NaN,NaN,NaN,NaN,123456.0,A79B53393,25141.60
30,Galpão 2,NaN,NaN,Masp,Industrial,10327.12,10364.16,10408.98,10452.05,10495.76,10543.63,NaN,NaN,NaN,NaN,NaN,NaN,A99L488883,10289.21
31,Galpão 3,NaN,NaN,NaN,Industrial,9442.32,9442.33,9442.33,9442.33,9442.33,9442.33,NaN,NaN,NaN,NaN,NaN,NaN,A99L488885,9442.32
32,Galpão 4,NaN,NaN,Metal Printing,Industrial,10327.17,10374.33,10415.94,10473.54,10528.49,10571.48,NaN,NaN,NaN,NaN,NaN,NaN,A99L488887,10284.81
33,Marcenaria/Serralheria,NaN,NaN,NaN,Industrial,1700.74,1703.70,1706.42,1708.82,1712.07,1715.39,NaN,NaN,NaN,NaN,NaN,NaN,A06L081235,1698.38
34,Galpão 5,Reservatório,NaN,NaN,Industrial,4633.29,4633.30,4648.79,4648.80,4648.80,4653.80,NaN,NaN,NaN,NaN,NaN,NaN,A031247101,4633.29
35,Galpão 5,Piso Superior e WC térreo,NaN,NaN,Industrial,198.10,200.21,200.96,202.70,204.05,204.72,NaN,NaN,NaN,NaN,NaN,NaN,A06L135363,197.37
36,Galpão 6,Piso Térreo,NaN,NaN,Industrial,385.21,385.21,385.22,385.23,385.23,385.23,NaN,NaN,NaN,NaN,NaN,NaN,A06L081233,385.20
37,Galpão 6,Piso Intermediário,NaN,NaN,Industrial,4138.99,4139.00,4139.13,4139.14,4139.23,4139.25,NaN,NaN,NaN,NaN,NaN,NaN,A06L135275,4138.94
38,Galpão 6,Piso Superior,NaN,NaN,Industrial,30.52,30.52,30.52,30.52,30.52,30.52,NaN,NaN,NaN,NaN,NaN,NaN,A06L135367,30.52
39,Galpão 7,Piso Inferior,NaN,NaN,Industrial,3102.31,3104.46,3104.48,3106.70,3107.35,3108.54,NaN,NaN,NaN,NaN,NaN,NaN,A09S372865,3102.31
40,Galpão 7,Piso Superior,NaN,NaN,Industrial,33.85,34.27,34.41,34.41,34.51,34.51,NaN,NaN,NaN,NaN,NaN,NaN,A09S372869,33.85
41,Galpão 8,Piso Inferior,NaN,Nek Packing,Industrial,373.52,377.10,381.87,385.85,390.70,394.71,NaN,NaN,NaN,NaN,NaN,NaN,A09S372870,369.93
42,Galpão 8,Piso Superior,NaN,NaN,Industrial,790.10,790.10,791.10,791.10,791.10,791.60,NaN,NaN,NaN,NaN,NaN,NaN,A79B54592,788.80
43,Galpão 9,NaN,NaN,NaN,Industrial,1.68,1.68,1.68,1.68,1.68,1.68,NaN,NaN,NaN,NaN,NaN,NaN,A21H515626,1.68
44,Galpão 10,NaN,NaN,Metal Printing,Industrial,1432.40,1459.14,1476.36,1497.26,1517.41,1542.71,NaN,NaN,NaN,NaN,NaN,NaN,A13L080158,1407.75
45,Galpão 11,R. de Incêncio,NaN,Metal Printing,Industrial,124.94,124.99,125.10,125.31,127.03,130.24,NaN,NaN,NaN,NaN,NaN,NaN,A13L080153,124.60
46,Galpão 13,NaN,NaN,NaN,Industrial,16.31,16.31,17.38,21.55,47.65,57.07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.31
47,Casa Caseiro,NaN,NaN,NaN,Residencial,1385.93,1398.55,1391.14,1393.12,1400.92,1405.11,NaN,NaN,NaN,NaN,NaN,NaN,A06L081234,1377.77
48,Depósito G12,NaN,NaN,NaN,Residencial,649.67,649.67,649.67,649.67,649.67,649.67,NaN,NaN,NaN,NaN,NaN,NaN,A03L247101,649.67
49,Chácara Colina,NaN,NaN,NaN,Residencial,4632.36,4650.40,4661.29,4672.45,4682.45,4690.90,NaN,NaN,NaN,NaN,NaN,NaN,A99L488888,4625.64
50,Chácara Colina,Fundos,NaN,NaN,Residencial,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,79B54592,NaN
51,Chácara São José,NaN,NaN,NaN,Residencial,4371.19,4384.39,4411.19,4428.71,4448.74,4464.78,NaN,NaN,NaN,NaN,NaN,NaN,A01L097304,4370.43
52,Chácara Manacás,NaN,NaN,NaN,Residencial,5603.77,5651.15,5669.39,5678.47,5692.42,5696.88,NaN,NaN,NaN,NaN,NaN,NaN,A02L273774,5560.31
53,Chácara Manacás,Sala de Confraternização,NaN,NaN,Residencial,847.25,847.32,848.11,848.16,848.66,848.67,NaN,NaN,NaN,NaN,NaN,NaN,A03L247100,846.46
54,Lava-Car,NaN,NaN,NaN,Residencial,1149.41,1149.41,1149.41,1149.47,1149.47,1149.47,NaN,NaN,NaN,NaN,NaN,NaN,A02L273769,1149.41
55,Poço 1,NaN,NaN,NaN,Residencial,10327.29,10638.01,10916.24,11214.91,11538.53,11765.09,NaN,NaN,NaN,NaN,NaN,NaN,A08L186679,9974.73
56,Poço 2,NaN,NaN,NaN,Residencial,1298.47,1328.02,1365.01,1370.01,1406.79,1491.85,NaN,NaN,NaN,NaN,NaN,NaN,B12S016596,1267.63
57,Poço 3,NaN,NaN,NaN,Residencial,2887.08,2887.08,2887.08,2887.08,2887.08,2887.08,NaN,NaN,NaN,NaN,NaN,NaN,AO9L069981,2887.08

# ---- Excluir uma linha ----
df.drop(linha, axis=0)

In [13]:
df_fator = df_fator.drop(0, axis=0)
display(df_fator)

,Volume min de água m3,Volume max de água m3,Tipo de fator,Fator Industrial,Fator Residencial,Nova coluna,Mais uma
1,10,20.0,Multiplicador,1000.0,3.54,0,0
2,20,50.0,Multiplicador,1000.0,5.45,0,0
3,50,NaN,Multiplicador,1000.0,6.51,0,0

# ---- Excluir uma coluna ---- 
df.drop(coluna, axis=1)

In [14]:
df_fator = df_fator.drop('Fator Residencial', axis=1)
display(df_fator)

,Volume min de água m3,Volume max de água m3,Tipo de fator,Fator Industrial,Nova coluna,Mais uma
1,10,20.0,Multiplicador,1000.0,0,0
2,20,50.0,Multiplicador,1000.0,0,0
3,50,NaN,Multiplicador,1000.0,0,0

# Deletar linhas e colunas vazias

In [15]:
# Deletar linhas ou colunas completamente vazias / altere o axis= ao seu gosto
df_universal = df_universal.dropna(how='all', axis=1)
display(df_universal)

# Deletar linhas que possuem pelo menos uma célula NaN
df_universal = df_universal.dropna()
display(df_universal)

# Preencher valores vazios
# Preenche as células vazias com a média .mean()

df_fator['Volume max de água m3'] = df_fator['Volume max de água m3'].fillna(df_fator['Volume max de água m3'].mean())
display(df_fator)

# Preenchimento automatico com o valor de cima
df_diferenca.loc[1] = df_diferenca.loc[1].fillna(2)

df_diferenca = df_diferenca.ffill()
display(df_diferenca)

,Galpões,Complemento,Código do registro,Empresa,Tipo de imóvel,Jan,Fev,Mar,Abr,Mai,Jun,Dez,Registro,Dez anterior
0,Galpão 1,NaN,A79B53393,Abaixo de Zero,Industrial,105.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Galpão 2,NaN,A99L488883,Masp,Industrial,37.91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Galpão 3,NaN,A99L488885,NaN,Industrial,0.00,51.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Galpão 4,NaN,A99L488887,Metal Printing,Industrial,42.36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Marcenaria/Serralheria,NaN,A06L081235,NaN,Industrial,2.36,51.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Galpão 5,Reservatório,A031247101,NaN,Industrial,0.00,51.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Galpão 5,Piso Superior e WC térreo,A06L135363,NaN,Industrial,0.73,51.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Galpão 6,Piso Térreo,A06L081233,NaN,Industrial,0.01,51.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Galpão 6,Piso Intermediário,A06L135275,NaN,Industrial,0.05,51.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Galpão 6,Piso Superior,A06L135367,NaN,Industrial,0.00,51.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Galpão 7,Piso Inferior,A09S372865,NaN,Industrial,0.00,51.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Galpão 7,Piso Superior,A09S372869,NaN,Industrial,0.00,51.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Galpão 8,Piso Inferior,A09S372870,Nek Packing,Industrial,3.59,51.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Galpão 8,Piso Superior,A79B54592,NaN,Industrial,1.30,51.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Galpão 9,NaN,A21H515626,NaN,Industrial,0.00,51.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Galpão 10,NaN,A13L080158,Metal Printing,Industrial,24.65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Galpão 11,R. de Incêncio,A13L080153,Metal Printing,Industrial,0.34,51.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Galpão 13,NaN,NaN,NaN,Industrial,0.00,51.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Casa Caseiro,NaN,A06L081234,NaN,Residencial,8.16,51.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Depósito G12,NaN,A03L247101,NaN,Residencial,0.00,51.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Chácara Colina,NaN,A99L488888,NaN,Residencial,6.72,51.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Chácara Colina,Fundos,79B54592,NaN,Residencial,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Chácara São José,NaN,A01L097304,NaN,Residencial,0.76,51.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Chácara Manacás,NaN,A02L273774,NaN,Residencial,43.46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Chácara Manacás,Sala de Confraternização,A03L247100,NaN,Residencial,0.79,51.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Lava-Car,NaN,A02L273769,NaN,Residencial,0.00,51.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Poço 1,NaN,A08L186679,NaN,Residencial,352.56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Poço 2,NaN,B12S016596,NaN,Residencial,30.84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Poço 3,NaN,AO9L069981,NaN,Residencial,0.00,51.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Galpão 1,NaN,NaN,Abaixo de Zero,Industrial,25247.40,25314.90,25389.70,25443.50,25518.50,25587.10,123456.0,A79B53393,25141.60
30,Galpão 2,NaN,NaN,Masp,Industrial,10327.12,10364.16,10408.98,10452.05,10495.76,10543.63,NaN,A99L488883,10289.21
31,Galpão 3,NaN,NaN,NaN,Industrial,9442.32,9442.33,9442.33,9442.33,9442.33,9442.33,NaN,A99L488885,9442.32
32,Galpão 4,NaN,NaN,Metal Printing,Industrial,10327.17,10374.33,10415.94,10473.54,10528.49,10571.48,NaN,A99L488887,10284.81
33,Marcenaria/Serralheria,NaN,NaN,NaN,Industrial,1700.74,1703.70,1706.42,1708.82,1712.07,1715.39,NaN,A06L081235,1698.38
34,Galpão 5,Reservatório,NaN,NaN,Industrial,4633.29,4633.30,4648.79,4648.80,4648.80,4653.80,NaN,A031247101,4633.29
35,Galpão 5,Piso Superior e WC térreo,NaN,NaN,Industrial,198.10,200.21,200.96,202.70,204.05,204.72,NaN,A06L135363,197.37
36,Galpão 6,Piso Térreo,NaN,NaN,Industrial,385.21,385.21,385.22,385.23,385.23,385.23,NaN,A06L081233,385.20
37,Galpão 6,Piso Intermediário,NaN,NaN,Industrial,4138.99,4139.00,4139.13,4139.14,4139.23,4139.25,NaN,A06L135275,4138.94
38,Galpão 6,Piso Superior,NaN,NaN,Industrial,30.52,30.52,30.52,30.52,30.52,30.52,NaN,A06L135367,30.52
39,Galpão 7,Piso Inferior,NaN,NaN,Industrial,3102.31,3104.46,3104.48,3106.70,3107.35,3108.54,NaN,A09S372865,3102.31
40,Galpão 7,Piso Superior,NaN,NaN,Industrial,33.85,34.27,34.41,34.41,34.51,34.51,NaN,A09S372869,33.85
41,Galpão 8,Piso Inferior,NaN,Nek Packing,Industrial,373.52,377.10,381.87,385.85,390.70,394.71,NaN,A09S372870,369.93
42,Galpão 8,Piso Superior,NaN,NaN,Industrial,790.10,790.10,791.10,791.10,791.10,791.60,NaN,A79B54592,788.80
43,Galpão 9,NaN,NaN,NaN,Industrial,1.68,1.68,1.68,1.68,1.68,1.68,NaN,A21H515626,1.68
44,Galpão 10,NaN,NaN,Metal Printing,Industrial,1432.40,1459.14,1476.36,1497.26,1517.41,1542.71,NaN,A13L080158,1407.75
45,Galpão 11,R. de Incêncio,NaN,Metal Printing,Industrial,124.94,124.99,125.10,125.31,127.03,130.24,NaN,A13L080153,124.60
46,Galpão 13,NaN,NaN,NaN,Industrial,16.31,16.31,17.38,21.55,47.65,57.07,NaN,NaN,16.31
47,Casa Caseiro,NaN,NaN,NaN,Residencial,1385.93,1398.55,1391.14,1393.12,1400.92,1405.11,NaN,A06L081234,1377.77
48,Depósito G12,NaN,NaN,NaN,Residencial,649.67,649.67,649.67,649.67,649.67,649.67,NaN,A03L247101,649.67
49,Chácara Colina,NaN,NaN,NaN,Residencial,4632.36,4650.40,4661.29,4672.45,4682.45,4690.90,NaN,A99L488888,4625.64
50,Chácara Colina,Fundos,NaN,NaN,Residencial,NaN,NaN,NaN,NaN,NaN,NaN,NaN,79B54592,NaN
51,Chácara São José,NaN,NaN,NaN,Residencial,4371.19,4384.39,4411.19,4428.71,4448.74,4464.78,NaN,A01L097304,4370.43
52,Chácara Manacás,NaN,NaN,NaN,Residencial,5603.77,5651.15,5669.39,5678.47,5692.42,5696.88,NaN,A02L273774,5560.31
53,Chácara Manacás,Sala de Confraternização,NaN,NaN,Residencial,847.25,847.32,848.11,848.16,848.66,848.67,NaN,A03L247100,846.46
54,Lava-Car,NaN,NaN,NaN,Residencial,1149.41,1149.41,1149.41,1149.47,1149.47,1149.47,NaN,A02L273769,1149.41
55,Poço 1,NaN,NaN,NaN,Residencial,10327.29,10638.01,10916.24,11214.91,11538.53,11765.09,NaN,A08L186679,9974.73
56,Poço 2,NaN,NaN,NaN,Residencial,1298.47,1328.02,1365.01,1370.01,1406.79,1491.85,NaN,B12S016596,1267.63
57,Poço 3,NaN,NaN,NaN,Residencial,2887.08,2887.08,2887.08,2887.08,2887.08,2887.08,NaN,AO9L069981,2887.08

Empty DataFrame
Columns: [Galpões, Complemento, Código do registro, Empresa, Tipo de imóvel, Jan, Fev, Mar, Abr, Mai, Jun, Dez, Registro, Dez anterior]
Index: []

,Volume min de água m3,Volume max de água m3,Tipo de fator,Fator Industrial,Nova coluna,Mais uma
1,10,20.0,Multiplicador,1000.0,0,0
2,20,50.0,Multiplicador,1000.0,0,0
3,50,35.0,Multiplicador,1000.0,0,0

,Galpões,Complemento,Código do registro,Empresa,Tipo de imóvel,Jan,Fev,Mar,Abr,Mai,Jun,Jul,Ago,Set,Out,Nov,Dez
0,Galpão 1,NaN,A79B53393,Abaixo de Zero,Industrial,105.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Galpão 2,2,A99L488883,Masp,Industrial,37.91,2.00,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
2,Galpão 3,2,A99L488885,Masp,Industrial,0.00,51.04,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
3,Galpão 4,2,A99L488887,Metal Printing,Industrial,42.36,51.04,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
4,Marcenaria/Serralheria,2,A06L081235,Metal Printing,Industrial,2.36,51.04,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
5,Galpão 5,Reservatório,A031247101,Metal Printing,Industrial,0.00,51.04,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
6,Galpão 5,Piso Superior e WC térreo,A06L135363,Metal Printing,Industrial,0.73,51.04,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
7,Galpão 6,Piso Térreo,A06L081233,Metal Printing,Industrial,0.01,51.04,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
8,Galpão 6,Piso Intermediário,A06L135275,Metal Printing,Industrial,0.05,51.04,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
9,Galpão 6,Piso Superior,A06L135367,Metal Printing,Industrial,0.00,51.04,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
10,Galpão 7,Piso Inferior,A09S372865,Metal Printing,Industrial,0.00,51.04,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
11,Galpão 7,Piso Superior,A09S372869,Metal Printing,Industrial,0.00,51.04,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
12,Galpão 8,Piso Inferior,A09S372870,Nek Packing,Industrial,3.59,51.04,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
13,Galpão 8,Piso Superior,A79B54592,Nek Packing,Industrial,1.30,51.04,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
14,Galpão 9,Piso Superior,A21H515626,Nek Packing,Industrial,0.00,51.04,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
15,Galpão 10,Piso Superior,A13L080158,Metal Printing,Industrial,24.65,51.04,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
16,Galpão 11,R. de Incêncio,A13L080153,Metal Printing,Industrial,0.34,51.04,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
17,Galpão 13,R. de Incêncio,A13L080153,Metal Printing,Industrial,0.00,51.04,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
18,Casa Caseiro,R. de Incêncio,A06L081234,Metal Printing,Residencial,8.16,51.04,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
19,Depósito G12,R. de Incêncio,A03L247101,Metal Printing,Residencial,0.00,51.04,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
20,Chácara Colina,R. de Incêncio,A99L488888,Metal Printing,Residencial,6.72,51.04,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
21,Chácara Colina,Fundos,79B54592,Metal Printing,Residencial,6.72,51.04,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
22,Chácara São José,Fundos,A01L097304,Metal Printing,Residencial,0.76,51.04,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
23,Chácara Manacás,Fundos,A02L273774,Metal Printing,Residencial,43.46,51.04,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
24,Chácara Manacás,Sala de Confraternização,A03L247100,Metal Printing,Residencial,0.79,51.04,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
25,Lava-Car,Sala de Confraternização,A02L273769,Metal Printing,Residencial,0.00,51.04,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
26,Poço 1,Sala de Confraternização,A08L186679,Metal Printing,Residencial,352.56,51.04,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
27,Poço 2,Sala de Confraternização,B12S016596,Metal Printing,Residencial,30.84,51.04,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
28,Poço 3,Sala de Confraternização,AO9L069981,Metal Printing,Residencial,0.00,51.04,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0

# ---- Conta quantas vezes aparece cada item de uma coluna ----
- .value_counts()

In [19]:
industriais_vs_residenciais = df_dados['Tipo de imóvel'].value_counts()
print(industriais_vs_residenciais)

Tipo de imóvel
Industrial     18
Residencial    11
Name: count, dtype: int64

# ---- Agrupamentos e funções com linhas agrupadas ----
- .groupby('Coluna')

o complemento do groupby será executado nas outras colunas escolhidas

In [17]:
# Soma dos registros de Janeiro organizado por tipo de imovel
somas_registros_Jan = df_dados[['Tipo de imóvel', 'Jan']].groupby('Tipo de imóvel').sum()
display(somas_registros_Jan)

                     Jan
Tipo de imóvel
Industrial      72305.97
Residencial     33152.42

# ---- Mesclagem de dados ---- 
df = df.merge(Outro df)

Mescla de maneira inteligente dois Data Frames

# ---- Lista de uma coluna ----

In [18]:
s_empresa = df_dados['Empresa'].value_counts()
lst_empresa = s_empresa.index.tolist()
print(lst_empresa)

lst_empresa_nan = df_dados['Empresa'].tolist()
print(lst_empresa_nan)

['Metal Printing', 'Abaixo de Zero', 'Masp', 'Nek Packing']
['Abaixo de Zero', 'Masp', nan, 'Metal Printing', nan, nan, nan, nan, nan, nan, nan, nan, 'Nek Packing', nan, nan, 'Metal Printing', 'Metal Printing', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]